
<!DOCTYPE html>
<html lang="en">

  {{template "header" .}}

  <body>
	<!-- topbar starts -->
	{{template "topbar" .}}
	<!-- topbar ends -->

	<div class="ch-container">
	  <div class="row">

		<!-- left menu starts -->
		{{template "left_menu" .}}
		<!-- left menu ends -->

		<div id="content" class="col-lg-10 col-sm-10">
		  <!-- content starts -->
		  <div>
			<ul class="breadcrumb" style="margin-bottom:0">
			  <li>
				<a href="{{.BasePath}}">首页</a>
			  </li>
			</ul>
		  </div>

		  <div class="row">
			<div class="box col-md-12">
			  <div class="box-inner">
				<div class="box-header well" data-original-title="">
				  <h2></h2>

				  <div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
					<a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
				  </div>
				</div>
				<div class="box-content">
				  <p class="text-center" style="font-size:36px; font-weight:bold; padding-top:180px; padding-bottom:200px">We Are TVM</p>
				</div>
			  </div>
			</div>
		  </div><!--/span-->

		  <!-- content ends -->
		</div><!--/#content.col-md-0-->
	  </div><!--/fluid-row-->

	  <hr>

	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		      <h3>Settings</h3>
	        </div>
		    <div class="modal-body">
		      <p>Here settings can be configured...</p>
	        </div>
	        <div class="modal-footer">
		      <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
		      <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
		    </div>
		  </div>
	    </div>
	  </div>

	  {{template "footer"}}

	</div><!--/.fluid-container-->

	{{template "scripts" .}}

  </body>
</html>
